# NYC Apartment Search

_[Project prompt](https://docs.google.com/document/d/1BYVyFBDcTywdUlanH0ysfOrNWPgl7UkqXA7NeewTzxA/edit#heading=h.bpxu7uvknnbk)_

_This scaffolding notebook may be used to help setup your final project. It's **totally optional** whether you make use of this or not._

_If you do use this notebook, everything provided is optional as well - you may remove or add code as you wish._

_**All code below should be consider "pseudo-code" - not functional by itself, and only an idea of a possible approach.**_

## Setup

In [ ]:
# All import statements needed for the project, for example:

import json
import pathlib
import urllib.parse

import geoalchemy2 as gdb
import geopandas as gpd
import matplotlib.pyplot as plt
import pandas as pd
import requests
import shapely
import sqlalchemy as db
import psycopg2

from sqlalchemy.orm import declarative_base

In [ ]:
# Any constants you might need; some have been added for you

# Where data files will be read from/written to - this should already exist
DATA_DIR = pathlib.Path("data")
ZIPCODE_DATA_FILE = DATA_DIR / "zipcodes" / "nyc_zipcodes.shp"
ZILLOW_DATA_FILE = DATA_DIR / "zillow_rent_data.csv"

NYC_DATA_APP_TOKEN = "alMZBjkqoiGjUdoR8UIDOouaq"
BASE_NYC_DATA_URL = "https://data.cityofnewyork.us/"
NYC_DATA_311 = "resource/erm2-nwe9.geojson"
NYC_DATA_TREES = "resource/5rq2-4hqu.geojson"

DB_NAME = "postgres"
DB_USER = "postgres"
DB_PASSWORD = "postgres"
DB_URL = f"postgresql+psycopg2://{DB_USER}:{DB_PASSWORD}@localhost/{DB_NAME}"
DB_SCHEMA_FILE = "schema.sql"
# directory where DB queries for Part 3 will be saved
QUERY_DIR = pathlib.Path("queries")

In [ ]:
# Make sure the QUERY_DIRECTORY exists
if not QUERY_DIR.exists():
    QUERY_DIR.mkdir()

## Part 1: Data Preprocessing

In [ ]:
def download_nyc_geojson_data(url, force=False, query=None):
    """
    Download NYC GeoJSON data and save it to a local file.
    
    Parameters:
        url (str): The URL from which to download the data.
        force (bool, optional): If True, force downloading even if the file exists locally. Defaults to False.
        query (str, optional): A query string to filter the data during download. Defaults to None.
    
    Returns:
        pathlib.Path: The local path to the downloaded GeoJSON file.
    """
    parsed_url = urllib.parse.urlparse(url)
    url_path = parsed_url.path.strip("/")
    
    filename = DATA_DIR / url_path
    
    if force or not filename.exists():
        print(f"Downloading {url} to {filename}...")
        
        headers = {'X-App-Token': NYC_DATA_APP_TOKEN}
        params = {
        "$limit": 10000,
        "$offset": 0,
        "$select": "*",
        "$where": query
        }
        response = requests.get(url, headers=headers, params=params)
        
        with open(filename, "w") as f:
            json.dump(response.json(), f)
        print(f"Done downloading {url}.")

    else:
        print(f"Reading from {filename}...")

    return filename

In [ ]:
def load_and_clean_zipcodes(zipcode_datafile):
    """
    Load and clean zipcode data from a specified file.

    This function reads geographic data of zipcodes from a given file,
    converts the coordinate reference system to EPSG 4326, and selects specific columns.
    It selects relevant columns, renames them, and removes rows with missing values.

    Args:
        zipcode_datafile (str): The file path of the zipcode data file.
    
    Returns:
        GeoDataFrame: A cleaned GeoDataFrame with selected information about zipcodes.
    """
    zipcode_data = gpd.read_file(zipcode_datafile)
    zipcode_data = zipcode_data.to_crs(epsg=4326)
    zipcode_data = zipcode_data[['ZIPCODE', 'COUNTY', 'geometry']]
    zipcode_data = zipcode_data.rename(columns={'ZIPCODE': 'zipcode', 'COUNTY': 'county'})
    zipcode_data = zipcode_data.dropna()
    
    return zipcode_data

In [ ]:
def download_and_clean_311_data():
    """
    Download and clean New York City's 311 service request data for a specific date range.
    
    The function filters data for requests made on from January 1, 2015 to September 30, 2023.
    It selects relevant columns, renames them, and removes rows with missing values.

    Returns:
        GeoDataFrame: Cleaned data with selected information about 311 service requests.
    """
    query_311 = "created_date between '2023-09-30T12:00:00' and '2023-09-30T23:59:59'"
    nyc_311_data = download_nyc_geojson_data(f"{BASE_NYC_DATA_URL}{NYC_DATA_311}", force=True, query=query_311)
    nyc_311_data = gpd.read_file(nyc_311_data)
    nyc_311_data = nyc_311_data.to_crs(epsg=4326)
    nyc_311_data = nyc_311_data[['unique_key', 'incident_zip', 'created_date', 'complaint_type', 'geometry']]
    nyc_311_data = nyc_311_data.rename(columns={'unique_key': 'id', 'incident_zip': 'zipcode', 'created_date': 'date'})
    nyc_311_data = nyc_311_data.dropna()

    return nyc_311_data

In [ ]:
def download_and_clean_tree_data():
    """
    Download and clean New York City tree data.
    
    This function downloads NYC tree data in GeoJSON format from a NYC Open Data,
    reads it into a GeoDataFrame, converts its coordinate reference system to EPSG 4326,
    selects specific columns, renames some for clarity, and removes rows with missing values.

    Returns:
        gpd.GeoDataFrame: A GeoDataFrame containing the cleaned NYC tree data.
                          The data includes columns like tree ID, zipcode, species,
                          health, status, and geometry after renaming and dropping
                          missing values.
    """
    nyc_trees_data = download_nyc_geojson_data(f"{BASE_NYC_DATA_URL}{NYC_DATA_TREES}", force=True)
    nyc_trees_data = gpd.read_file(nyc_trees_data)
    nyc_trees_data = nyc_trees_data.to_crs(epsg=4326)
    nyc_trees_data = nyc_trees_data[["tree_id", "zipcode", "spc_common", "health", "status", "geometry"]]
    nyc_trees_data = nyc_trees_data.rename(columns={"tree_id": "id", "spc_common": "species"})
    nyc_trees_data = nyc_trees_data.dropna()
    
    return nyc_trees_data

In [ ]:
def load_and_clean_zillow_data(): 
    """
    Load and clean Zillow rental data for New York City.
    
    This function reads Zillow rental data from a CSV file, filters it for entries
    pertaining to New York City, and selects specific columns relevant to rental
    prices. The columns are then renamed for clarity, and rows with missing values
    are removed to ensure the quality of data.

    Returns:
        DataFrame: A DataFrame containing cleaned Zillow rental data with columns for 
                   Zillow region ID, zipcode, and rental prices for August and September 2023.
    """
    zillow_data = pd.read_csv(ZILLOW_DATA_FILE)
    zillow_data = zillow_data[zillow_data["City"]=="New York"]

    cols_to_keep = ['RegionID', 'RegionName']
    cols_to_melt = [col for col in zillow_data.columns if col.startswith('20')]
    zillow_data = zillow_data[cols_to_keep + cols_to_melt]
    zillow_data_long = pd.melt(zillow_data, id_vars=cols_to_keep, value_vars=cols_to_melt,
                                var_name='date', value_name='rent')
    zillow_data_long['date'] = pd.to_datetime(zillow_data_long['date'], format='%Y/%m/%d')
    zillow_data_long['RegionName'] = zillow_data_long['RegionName'].astype(str)
    zillow_data_long = zillow_data_long.rename(columns={"RegionID": "region_id", "RegionName": "zipcode"})

    zillow_data_long
    
    return zillow_data_long

In [ ]:
def load_all_data():
    """
    Load and combine multiple datasets into a single collection.

    This function aggregates four different datasets: zipcode data, 311 service request data,
    tree census data, and Zillow rental data, each of which is loaded and cleaned by their
    respective functions. The datasets are primarily focused on New York City information.
    
    Returns:
        tuple: A tuple containing four cleaned datasets (GeoDataFrames and DataFrame).
               These are: zipcode data, 311 service request data, tree census data,
               and Zillow rental data.
    """
    geodf_zipcode_data = load_and_clean_zipcodes(ZIPCODE_DATA_FILE)
    geodf_311_data = download_and_clean_311_data()
    geodf_tree_data = download_and_clean_tree_data()
    df_zillow_data = load_and_clean_zillow_data()
    
    return (
        geodf_zipcode_data,
        geodf_311_data,
        geodf_tree_data,
        df_zillow_data
    )

In [ ]:
geodf_zipcode_data, geodf_311_data, geodf_tree_data, df_zillow_data = load_all_data()

In [ ]:
geodf_zipcode_data.info()

In [ ]:
geodf_zipcode_data.head()

In [ ]:
geodf_311_data.info()

In [ ]:
geodf_311_data.head()

In [ ]:
geodf_tree_data.info()

In [ ]:
geodf_tree_data.head()

In [ ]:
df_zillow_data.info()

In [ ]:
df_zillow_data.head()

## Part 2: Storing Data

In [ ]:
def setup_new_postgis_database(username, db_name, password):
    """
    Setup a new PostGIS database in PostgreSQL.

    Args:
        username (str): Username for the PostgreSQL database.
        db_name (str): Name of the database to setup.
        password (str): Password for the specified user.

    Returns:
        conn: A connection object to the created database.
    """
    conn = psycopg2.connect(
        dbname = db_name, 
        user = username,
        password = password
    )
    cursor = conn.cursor()
    conn.commit()
    cursor.close()

    return conn

In [ ]:
setup_new_postgis_database(DB_USER, DB_NAME, DB_PASSWORD)

### Creating Tables


These are just a couple of options to creating your tables; you can use one or the other, a different method, or a combination.

In [ ]:
engine = db.create_engine(DB_URL)

#### Option 1: SQL

In [ ]:
# if using SQL (as opposed to SQLAlchemy), define the SQL statements to create your 4 tables
ZIPCODE_SCHEMA = """
CREATE TABLE IF NOT EXISTS zipcodes
(
    zipcode TEXT PRIMARY KEY,
    county TEXT,
    geometry GEOMETRY(Polygon, 4326)
);
CREATE INDEX zipcodes_geom_idx ON zipcodes USING GIST (geometry);
"""

NYC_311_SCHEMA = """
CREATE TABLE IF NOT EXISTS complaints
(
    id INTEGER PRIMARY KEY,
    zipcode TEXT,
    date TIMESTAMP,
    complaint_type TEXT,
    geometry GEOMETRY(Point, 4326)
);
CREATE INDEX complaints_geom_idx ON complaints USING GIST (geometry);
"""

NYC_TREE_SCHEMA = """
CREATE TABLE IF NOT EXISTS trees
(
    id INTEGER PRIMARY KEY,
    zipcode TEXT,
    species TEXT,
    health TEXT,
    status TEXT,
    geometry GEOMETRY(Point, 4326)
);
CREATE INDEX trees_geom_idx ON trees USING GIST (geometry);
"""

ZILLOW_SCHEMA = """
CREATE TABLE IF NOT EXISTS rents
(
    id SERIAL PRIMARY KEY,
    region_id INTEGER,
    zipcode TEXT,
    date DATE,
    rent FLOAT
);
"""

In [ ]:
# create that required schema.sql file
with open(DB_SCHEMA_FILE, "w") as f:
    f.write("DROP TABLE IF EXISTS zipcodes, complaints, trees, rents;")
    f.write(ZIPCODE_SCHEMA)
    f.write(NYC_311_SCHEMA)
    f.write(NYC_TREE_SCHEMA)
    f.write(ZILLOW_SCHEMA)

In [ ]:
# If using SQL (as opposed to SQLAlchemy), execute the schema files to create tables
with engine.connect() as connection:
    with open(DB_SCHEMA_FILE, 'r') as schema_file:
        schema_sql = schema_file.read()
        connection.execute(db.text(schema_sql))

#### Option 2: SQLAlchemy

In [ ]:
Base = declarative_base()

class Tree(Base):
    __tablename__ = "trees"

    ...

In [ ]:
Base.metadata.create_all(engine)

### Add Data to Database

These are just a couple of options to write data to your tables; you can use one or the other, a different method, or a combination.

#### Option 1: SQL

In [ ]:
def write_dataframes_to_table(tablename_to_dataframe):
    """
    Write data from provided dataframes to corresponding tables in the database.
    
    Args:
        tablename_to_dataframe (dict): A dictionary mapping table names to dataframes.
    """
    for table_name, dataframe in tablename_to_dataframe.items():
        if table_name != "rents":
            dataframe.to_postgis(table_name, engine, if_exists='replace', index=False)
        else:
            dataframe.to_sql(table_name, engine, if_exists='replace', index=False)

In [ ]:
tablename_to_dataframe = {
    "zipcodes": geodf_zipcode_data,
    "complaints": geodf_311_data,
    "trees": geodf_tree_data,
    "rents": df_zillow_data,
}

In [ ]:
write_dataframes_to_table(tablename_to_dataframe)

#### Option 2: SQLAlchemy

In [ ]:
Session = db.orm.sessionmaker(bind=engine)
session = Session()

In [ ]:
for row in geodf_tree_data.iterrows():
    tree = Tree(...)
    session.add(tree)

In [ ]:
session.commit()

## Part 3: Understanding the Data

In [ ]:
# Helper function to write the queries to file
def write_query_to_file(query, outfile):
    """
    Write a SQL query to a file.
    
    Parameters:
        query (str): The SQL query string to be written to the file.
        outfile (str): The path to the file where the query will be saved.
    """
    with open(outfile, 'w') as file:
        file.write(query)
    print(f"Query written to {outfile}")

### Query 1

In [ ]:
QUERY_1_FILENAME = QUERY_DIR / "complaints_per_zipcode.sql"

QUERY_1 = """
SELECT zipcode, COUNT(*) AS num_complaints
FROM complaints
WHERE date BETWEEN TIMESTAMP '2022-10-01 00:00:00' AND TIMESTAMP '2023-09-30 23:59:59'
GROUP BY zipcode;
"""

In [ ]:
with engine.connect() as conn:
    result = conn.execute(db.text(QUERY_1))
    for row in result:
        print(row)

In [ ]:
write_query_to_file(QUERY_1, QUERY_1_FILENAME)

### Query 2

In [ ]:
QUERY_2_FILENAME = QUERY_DIR / "top_10_zipcodes_with_most_trees.sql"

QUERY_2 = """
SELECT zipcode, COUNT(*) AS total_trees
FROM trees
GROUP BY zipcode
ORDER BY total_trees DESC
LIMIT 10;
"""

In [ ]:
with engine.connect() as conn:
    result = conn.execute(db.text(QUERY_2))
    for row in result:
        print(row)

In [ ]:
write_query_to_file(QUERY_2, QUERY_2_FILENAME)

### Query 3

In [ ]:
QUERY_3_FILENAME = QUERY_DIR / "average_rent_by_zipcode.sql"

QUERY_3 = """
SELECT trees.zipcode, TO_CHAR(AVG(rents.rent), 'FM9,999,999.00') AS august_rent
FROM trees
JOIN rents ON trees.zipcode = rents.zipcode
WHERE EXTRACT(MONTH FROM rents.date) = 8 AND EXTRACT(YEAR FROM rents.date) = 2023
GROUP BY trees.zipcode
ORDER BY COUNT(*) DESC
LIMIT 10;
"""

In [ ]:
with engine.connect() as conn:
    result = conn.execute(db.text(QUERY_3))
    for row in result:
        print(row)

In [ ]:
write_query_to_file(QUERY_3, QUERY_3_FILENAME)

### Query 4

In [ ]:
QUERY_4_FILENAME = QUERY_DIR / "correlation_between_rent_trees_complaints.sql"

QUERY_4 = """
SELECT
    rs.zipcode,
    TO_CHAR(AVG(rs.avg_rent), 'FM9,999,999.00') as average_rent,
    COUNT(DISTINCT t.id) AS tree_count,
    COUNT(DISTINCT c.id) AS complaint_count
FROM (
    SELECT
        r.zipcode,
        AVG(r.rent) AS avg_rent,
        ROW_NUMBER() OVER (ORDER BY AVG(r.rent) ASC) AS low_rank,
        ROW_NUMBER() OVER (ORDER BY AVG(r.rent) DESC) AS high_rank
    FROM
        rents r
    WHERE
        r.date BETWEEN '2023-01-01' AND '2023-01-31'
        AND r.rent IS NOT NULL
    GROUP BY
        r.zipcode
) rs
LEFT JOIN
    trees t ON rs.zipcode = t.zipcode
LEFT JOIN
    complaints c ON rs.zipcode = c.zipcode
WHERE
    rs.low_rank <= 5 OR rs.high_rank <= 5
GROUP BY
    rs.zipcode, rs.avg_rent
ORDER BY
    rs.avg_rent, rs.zipcode;
"""

In [ ]:
with engine.connect() as conn:
    result = conn.execute(db.text(QUERY_4))
    for row in result:
        print(row)

In [ ]:
write_query_to_file(QUERY_4, QUERY_4_FILENAME)

### Query 5

In [ ]:
QUERY_5_FILENAME = QUERY_DIR / "the_most_greenery_areas.sql"

QUERY_5 = """
SELECT zipcodes.zipcode, COUNT(*) AS total_trees
FROM zipcodes
JOIN trees ON ST_Within(trees.geometry, zipcodes.geometry)
GROUP BY zipcodes.zipcode
ORDER BY total_trees DESC
LIMIT 10;
"""

In [ ]:
with engine.connect() as conn:
    result = conn.execute(db.text(QUERY_5))
    for row in result:
        print(row)

In [ ]:
write_query_to_file(QUERY_5, QUERY_5_FILENAME)

### Query 6

In [ ]:
QUERY_6_FILENAME = QUERY_DIR / "trees_within_coordinate.sql"

QUERY_6 = '''SELECT
    id,
    species,
    health,
    status,
    ST_AsText(geometry) AS "Location"
FROM
    trees
WHERE
    ST_DWithin(
        geometry,
        ST_SetSRID(ST_MakePoint(-73.96253174434912, 40.80737875669467), 4326),
        804.67
    );
'''

In [ ]:
with engine.connect() as conn:
    result = conn.execute(db.text(QUERY_6))
    for row in result:
        print(row)

In [ ]:
write_query_to_file(QUERY_6, QUERY_6_FILENAME)

## Part 4: Visualizing the Data

### Visualization 1

In [ ]:
def top_3_complaints_types(dataframe):
    """
    Generate a bar chart to visualize the top 3 complaint types.

    This function takes a DataFrame containing complaint data and uses it to produce 
    a bar chart. The chart displays the frequency of the top 3 types of complaints, 
    helping to identify the most common issues reported in the dataset.

    Parameters:
        dataframe: A pandas DataFrame that contains these two columns:
                 'complaint_type' for the type of complaint, and 
                 'complaint_count' for the number of complaints of that type.
    """
    fig = plt.figure(figsize=(8, 5))
    ax = plt.axes()
    
    ax.bar(dataframe['complaint_type'], dataframe['complaint_count'])

    ax.set_title("Top 3 Complaint Types")
    ax.set_xlabel("Complaint Type")
    ax.set_ylabel("Number of Complaints")
    
    plt.show()

In [ ]:
def get_data_for_visual_1():
    """
    Retrieve and return data for visualization.

    This function executes a SQL query to find the top 3 most common complaint types
    from the 'complaints' table between '2022-10-01' and '2023-09-30'. It groups the
    complaints by type and date, counts the occurrences, and orders them in descending
    order of frequency.

    Returns:
        pd.DataFrame: A DataFrame containing the top 3 complaint types, their respective
                      dates, and the count of occurrences on those dates.
    """
    VISUAL_QUERY_1 = """
    SELECT
        complaint_type,
        date_trunc('day', date) AS complaint_date,
        COUNT(*) AS complaint_count
    FROM
        complaints
    WHERE
        date_trunc('day', date) >= '2022-10-01' 
    AND 
        date_trunc('day', date) <= '2023-09-30'
    GROUP BY
        complaint_type, complaint_date
    ORDER BY
        complaint_count DESC
    LIMIT 3;
    """
    return pd.read_sql(VISUAL_QUERY_1, engine)

In [ ]:
dataframe_for_visual_1 = get_data_for_visual_1()
top_3_complaints_types(dataframe_for_visual_1)

### Visualization 2

In [ ]:
def most_common_complaints(dataframe):
    """
    Generate a bar chart to visualize the most common complaints.
    
    Parameters:
        dataframe (pd.DataFrame): The input DataFrame containing complaint data.
    """
    plt.figure(figsize=(10, 8))
    plt.bar(dataframe.complaint_type, dataframe.num_complaints)
    plt.xlabel('Complaint Type')
    plt.ylabel('Number of Complaints')
    plt.xticks(rotation=45)
    plt.title('Most Common Complaints')
    plt.show()

In [ ]:
def get_data_for_visual_2():
    """
    Retrieve and return data for visualization.
    
    This function executes a SQL query to get complaint data for the top 10 complaint types
    in zip code 10027 within a specific time range.

    Returns:
        result_df (pd.DataFrame): DataFrame containing the query results.
    """
    VISUAL_QUERY_2 = """
    SELECT
        complaint_type,
        COUNT(*) AS num_complaints
    FROM
        complaints
    WHERE
        date BETWEEN TIMESTAMP '2018-10-01 00:00:00' AND TIMESTAMP '2023-09-30 23:59:59'
        AND zipcode = '10027'
    GROUP BY
        complaint_type
    ORDER BY
        num_complaints DESC
    LIMIT 10;
    """

    result_df = pd.read_sql_query(VISUAL_QUERY_2, engine)

    return result_df

In [ ]:
dataframe_for_visual_2 = get_data_for_visual_2()
most_common_complaints(dataframe_for_visual_2)

### Visualization 3

In [ ]:
def correlation_with_rents_trees_complaints(dataframe):
    """
    Generate two graphs to visualize the correlations between average rents and number of trees,
    and between average rents and number of complaints per zip code.
    
    Parameters:
        dataframe (pd.DataFrame): The input DataFrame containing rent, tree, and complaint data.
    """
    plt.figure(figsize=(10, 8))
    plt.subplot(2,1,1)
    plt.scatter(dataframe.avg_rent, dataframe.num_trees, s=5, color='green')
    plt.ylabel('Number of Trees')
    plt.title('Correlation Between Rents and Trees')

    plt.subplot(2,1,2)
    plt.scatter(dataframe.avg_rent, dataframe.num_complaints, s=5, color='orange')
    plt.xlabel('Average Rent')
    plt.ylabel('Number of Complaints')
    plt.title('Correlation Between Rents and Complaints')

    plt.show()

In [ ]:
def get_data_for_visual_3():
    """
    Retrieve data for visualizing the correlation between rent, number of trees,
    and number of complaints by zip code within a specific time range.

    Returns:
        result_df (pd.DataFrame): DataFrame containing the query results.
    """
    VISUAL_QUERY_3 = """
    SELECT
        rents.zipcode,
        AVG(rents.rent) AS avg_rent,
        COUNT(DISTINCT trees.id) AS num_trees,
        COUNT(DISTINCT complaints.id) AS num_complaints
    FROM
        rents
    LEFT JOIN
        trees ON rents.zipcode = trees.zipcode
    LEFT JOIN
        complaints ON rents.zipcode = complaints.zipcode
    WHERE
        complaints.date BETWEEN TIMESTAMP '2015-01-01 00:00:00' AND TIMESTAMP '2023-09-30 23:59:59'
    GROUP BY
        rents.zipcode
    """
    return pd.read_sql(VISUAL_QUERY_3, engine)

In [ ]:
dataframe_for_visual_3 = get_data_for_visual_3()
correlation_with_rents_trees_complaints(dataframe_for_visual_3)

### Visualization 4

In [ ]:
def rents_and_complaints(dataframe):
    """
    Generate a boxplot to visualize the relationship between rents and number of complaints.

    Parameters:
        dataframe (pd.DataFrame): The input DataFrame containing complaint data.
    """
    data_series = [dataframe.loc[dataframe['bin'] == label, 'num_complaints'] for label in sorted(dataframe['bin'].unique())]

    plt.figure(figsize=(10, 8))
    plt.boxplot(data_series, labels=sorted(dataframe['bin'].unique()))
    plt.xlabel('Average Rent in Sep 2023')
    plt.ylabel('Number of Complaints')
    plt.title('Rent and Complaints')
    plt.show()

In [ ]:
def get_data_for_visual_4():
    """
    Retrieve and return data for visualization.
    
    This function executes a SQL query to get average rent data in September 2023
    and complaints data in each zipcode within a specific time range.

    Returns:
        result_df (pd.DataFrame): DataFrame containing the query results.
    """
    VISUAL_QUERY_4 = """
    SELECT
        complaints.zipcode,
        AVG(rents.rent) AS september_rent,
        COUNT(*) AS num_complaints
    FROM
        complaints
    JOIN
        rents ON complaints.zipcode = rents.zipcode
    WHERE
        complaints.date BETWEEN TIMESTAMP '2022-10-01 00:00:00' AND TIMESTAMP '2023-09-30 23:59:59'
        AND EXTRACT(MONTH FROM rents.date) = 9 AND EXTRACT(YEAR FROM rents.date) = 2023
    GROUP BY
        complaints.zipcode
    ORDER BY
        september_rent DESC;
    """

    result_df = pd.read_sql_query(VISUAL_QUERY_4, engine)
    bins = [0, 1000, 2000, 3000, 4000, 5000, 6000, 7000, 8000]
    result_df['bin'] = pd.cut(result_df['september_rent'], bins, labels=[f'${i}-{j}' for i, j in zip(bins[:-1], bins[1:])])

    return result_df

In [ ]:
dataframe_for_visual_4 = get_data_for_visual_4()
rents_and_complaints(dataframe_for_visual_4)

### Visualization 5

In [ ]:
def coordinates_of_reported_311_incidents(dataframe):
    """
    Plots a geospatial map of 311 incidents.

    This function takes a GeoDataFrame containing the coordinates of 311 incidents and plots them 
    on a map. Each point on the map represents a reported incident. The plot is useful for visualizing 
    the geographical distribution of incidents within the specified area and time frame.

    Parameters:
        gpd.GeoDataFrame: A GeoDataFrame containing the coordinates of the reported 311 incidents.
    """
    fig = plt.figure(figsize=(10, 10))
    ax = plt.axes()
    dataframe.plot(ax=ax, markersize=5)
    ax.set_title("Reported 311 Incidents from Jan 1, 2023 to Sep 30, 2023")
    ax.set_xlabel("Longitude")
    ax.set_ylabel("Latitude")
    plt.show()

In [ ]:
def get_data_for_visual_5():
    """
    Retrieves the coordinates of 311 incidents reported within a specific radius and time frame.

    This function queries the database for 311 incidents that occurred between January 1st, 2023,
    and September 30th, 2023, and within a 1-kilometer radius of a given coordinate point. 
    It returns a GeoDataFrame containing the latitude and longitude of each incident.

    Returns:
        gpd.GeoDataFrame: A GeoDataFrame containing the coordinates of the reported incidents.
    """
    VISUAL_QUERY_5 = """
    SELECT 
        ST_Y(geometry) AS latitude, 
        ST_X(geometry) AS longitude
    FROM 
        complaints
    WHERE 
        ST_DWithin(
            geometry, 
            ST_SetSRID(ST_MakePoint(-73.96253174434912, 40.80737875669467), 4326), 
            1000
        )
      AND 
        date_trunc('day', date) >= '2023-01-01' 
      AND 
        date_trunc('day', date) <= '2023-09-30'
    """
    return gpd.GeoDataFrame(
        pd.read_sql(VISUAL_QUERY_5, engine),
        geometry=gpd.points_from_xy(pd.read_sql(VISUAL_QUERY_5, engine)['longitude'], pd.read_sql(VISUAL_QUERY_5, engine)['latitude'])
    )

In [ ]:
dataframe_for_visual_5 = get_data_for_visual_5()
coordinates_of_reported_311_incidents(dataframe_for_visual_5)

### Visualization 6

In [ ]:
def trees_and_tree_requests(dataframe_1, dataframe_2):
    """
    Generate a bar chart to visualize the most common complaints.

    Parameters:
        dataframe (pd.DataFrame): The input DataFrame containing complaint data.
    """
    plt.figure(figsize=(10, 8))
    plt.scatter(dataframe_1.longitude, dataframe_1.latitude, s=5, label='Trees')
    plt.scatter(dataframe_2.longitude, dataframe_2.latitude, s=5, label='Complaints')
    plt.xlabel('Longitude')
    plt.ylabel('Latitude')
    plt.title('Trees and New Tree Request Complaints')
    plt.legend()
    plt.show()

In [ ]:
def get_data_for_visual_6():
    """
    Retrieve and return data for visualization.

    This function executes two SQL queries to get the coordinates of trees,
    and the coordinates of New Tree Request within a specific time range.

    Returns:
        result_1 (gpd.GeoDataFrame): GeoDataFrame containing trees data.
        result_2 (gpd.GeoDataFrame): GeoDataFrame containing complaints data.
    """
    VISUAL_QUERY_6_1 = """
    SELECT
        ST_X(geometry) AS longitude,
        ST_Y(geometry) AS latitude
    FROM
        trees
    """

    VISUAL_QUERY_6_2 = """
    SELECT
        ST_X(geometry) AS longitude,
        ST_Y(geometry) AS latitude
    FROM
        complaints
    WHERE
        complaint_type = 'New Tree Request' AND
        complaints.date BETWEEN TIMESTAMP '2018-10-01 00:00:00' AND TIMESTAMP '2023-09-30 23:59:59'
    """

    result_df_1 = pd.read_sql_query(VISUAL_QUERY_6_1, engine)
    result_df_2 = pd.read_sql_query(VISUAL_QUERY_6_2, engine)

    result_1 = gpd.GeoDataFrame(
        result_df_1,
        geometry=gpd.points_from_xy(result_df_1.longitude, result_df_1.latitude)
    )
    result_2 = gpd.GeoDataFrame(
        result_df_2,
        geometry=gpd.points_from_xy(result_df_2.longitude, result_df_2.latitude)
    )

    return result_1, result_2

In [ ]:
dataframe_for_visual_6_1, dataframe_for_visual_6_2 = get_data_for_visual_6()
trees_and_tree_requests(dataframe_for_visual_6_1, dataframe_for_visual_6_2)